/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
}

.top-banner {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  position: relative;
  top: 1rem;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 1rem 2rem 1rem 0;
}

.title {
  display: inline-flex;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  position: relative;
  top: 10rem;
  left: 21.4rem;
}

/* Image Icons */

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  margin: 3rem;
}

.paper img {
  width: 3.5rem;
}

.ruler img, .truck img {
  width: 5rem;
}

.description {
  text-align: center;
  line-height: 1.4;
}

/* Philosophy and appointments */

.info {
  display: flex;
  justify-content: center;
}

.column {
  width: 35%;
  margin-left: 5%;
}

.heading {
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.text {
  padding-top: 1rem;
  line-height: 1.4;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Media Queries max-width: 1024px */

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  header {
    height: 22rem;
  }
  .top-banner {
    top: 0;
  }
  .title {
    font-size: 1.33rem;
    top: 5rem;
    left: 17.4rem;
    padding: 0.75rem 4rem;
  }
}
